<!DOCTYPE html>
<html ng-app="Port-App">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Irwin Tsay</title>
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="js/jquery-3.1.0.min.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/scripts.js" charset="utf-8"></script>
  </head>
  <body ng-controller="PortfolioController">
    <header>
      <span class="name">IRWIN<span class="heavy">TSAY</span></span>
      <span class="title">Full-Stack Developer.</span>
      <span class="title">Aspiring Cook.</span>
      <span class="title">Avid Gamer.</span>
    </header>
    <div id="wrapper">
      <nav>
        <ul>
          <li><a class="nav active" href="#" ng-click="showAboutMe()">About</a></li>
          <li><a class="nav" href="#" ng-click="showProjects()">Projects</a></li>
          <li><a class="nav project" href="#" ng-click="showProjects()">TetrisJS</a></li>
          <li><a class="nav project" href="#" ng-click="showProjects()">Order.ly</a></li>
          <li><a class="nav project" href="#" ng-click="showProjects()">Mobcats</a></li>
          <li><a class="nav project" href="#" ng-click="showProjects()">VGDB</a></li>
          <li><a class="nav" href="#" ng-click="showContact()">Contact</a></li>
        </ul>
      </nav>
      <div id="about-me" ng-show="dispAboutMe">
        <img src="images/profile-pic.png" alt="" />
        <p>
          Hi, my name is Irwin. This is my web development portfolio. I'm a big fan
          of creating single page web applications with Node and Angular. I also
          love the challenge of solving logic problems. Check out my projects
          if you're interested in seeing my work. Cheers!
        </p>
      </div>

      <div id="projects" ng-show="dispProjects">
        <div class="project-images">
          <h3>TetrisJS</h3>
          <a href="http://irwintsay.github.io/TetrisJS/tetris.html"><img src="images/tetrisjs.gif" alt="TetrisJS GIF" /></a>
          <p>
            HTML5 | CSS | JavaScript
          </p>
          <a href="#">GitHub</a>
        </div>
        <div class="project-images">
          <h3>Order.ly</h3>
          <a href="https://pacific-cliffs-67172.herokuapp.com/users/profile"><img src="images/orderly.gif" alt="Order.ly GIF" /></a>
          <p>
            Materialize | Ruby on Rails | PostgreSQL
          </p>
          <a href="#">GitHub</a>
        </div>
      </div>

      <div id="contact" class="content-box" ng-show="dispContact">
        <ul>
          <li><a href="mailto:irwintsay@gmail.com">Email</a></li>
          <li><a href="https://www.linkedin.com/in/irwintsay">LinkedIn</a></li>
          <li><a href="https://github.com/irwintsay">GitHub</a></li>
        </ul>
      </div>

      <div id="footer">
        <h3>Email</h3>
        <h3>LinkedIn</h3>
        <h3>GitHub</h3>
        <h3>Facebook</h3>
      </div>
    </div>
  </body>
</html>
