<!DOCTYPE html>
<html ng-app="Port-App">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Irwin Tsay</title>
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" charset="utf-8"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="js/jquery-3.1.0.min.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/scripts.js" charset="utf-8"></script>
  </head>
  <body ng-controller="PortfolioController">
    <header>
      <span class="name">IRWIN<span class="heavy tiny-space">TSAY</span></span>
      <span class="title">Aspiring Cook.</span>
      <span class="title">Avid Gamer.</span>
      <span class="title">Full-Stack Developer.</span>
    </header>
    <img class="banner" src="images/banner.png" alt="" />
    <div class="main">
      <!-- <nav>
        <ul>
          <li><a class="nav active" href="#" ng-click="showAboutMe()">About</a></li>
          <li><a class="nav" href="#" ng-click="showProjects()">Projects</a></li>
          <li><a class="nav project" href="#" ng-click="showProjects()">TetrisJS</a></li>
          <li><a class="nav project" href="#" ng-click="showProjects()">Order.ly</a></li>
          <li><a class="nav project" href="#" ng-click="showProjects()">Mobcats</a></li>
          <li><a class="nav project" href="#" ng-click="showProjects()">VGDB</a></li>
          <li><a class="nav" href="#" ng-click="showContact()">Contact</a></li>
        </ul>
      </nav> -->
      <div class="content about-me">
        <p>
          Hey! My name is Irwin.
        </p>
        <p>
          If you landed here, you might be wondering what you're looking at.
          This is my web development portfolio. As a full-stack web
          developer, I am experienced with Node/Express, Ruby on Rails,
          Postgresql, MongoDB, and a few front-end frameworks such as Angular
          and React. I love creating dynamic, single page web applications. I
          also enjoy solving logic heavy problems. If you're interested in
          seeing more of my work, check out my projects or head over to my
          GitHub. Thanks for stopping by!
        </p>
        <p>
          Cheers!
        </p>
      </div>

      <div class="content">
        <div class="project">
          <h3>// TetrisJS</h3>
          <a title="Launch TetrisJS" href="http://irwintsay.github.io/TetrisJS/tetris.html">
            <img class="project-image" src="images/tetrisjs.gif" alt="TetrisJS GIF" />
          </a>
          <p>
            HTML5 | CSS | JavaScript
          </p>
          <a href="https://github.com/irwintsay/TetrisJS">GitHub</a>
        </div>
        <div class="project">
          <h3>// Order.ly</h3>
          <a title="Launch Order.ly" href="https://pacific-cliffs-67172.herokuapp.com/users/profile">
            <img class="project-image" src="images/orderly.gif" alt="Order.ly GIF" />
          </a>
          <p>
            Ruby on Rails | PostgreSQL | Materialize
          </p>
          <a href="https://github.com/irwintsay/Orderly">GitHub</a>
        </div>
        <div class="project">
          <h3>// Nextplorer</h3>
          <a title="Launch Nextplorer" href="https://mobcats.herokuapp.com/users/profile">
            <img class="project-image" src="images/nextplorer.png" alt="Order.ly GIF" />
          </a>
          <p>
            Node/Express | MongoDB
          </p>
          <a href="https://github.com/rachelhamlin/Project_3">GitHub</a>
        </div>
        <div class="project">
          <h3>// VGDB</h3>
          <a title="Launch VGDB" href="https://vgdb.herokuapp.com/users/profile">
            <img class="project-image" src="images/vgdb.png" alt="Order.ly GIF" />
          </a>
          <p>
            Node/Express | AngularJS | Semantic-UI | MongoDB
          </p>
          <a href="https://github.com/irwintsay/VGDB">GitHub</a>
        </div>
      </div>

    </div>
    <footer>
      <!-- <span class="title"><a href="mailto:irwintsay@gmail.com">Email</a></span> -->
      <span class="title"><a href="https://github.com/irwintsay">GitHub</a></span>
      <span class="title"><a href="https://www.linkedin.com/in/irwintsay">LinkedIn</a></span>
      <span class="title">Facebook</span>
    </footer>
  </body>
</html>
